<!DOCTYPE HTML>
<html>
	<head>
		<title>
			{% block title %}
				Test Time with us!
			{% endblock %}
		</title>
		{% load staticfiles %}
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript" src = "{% static 'alarm/JS/base.js' %}"></script>
		{% block main_css %}
			<link rel="stylesheet" type="text/css" href="{% static 'alarm/CSS/base.css' %}">
		{% endblock %}
	</head>
	<body>
	{% block header %}
	<table width="100%" bgcolor="white" border="0" class="header_main">
		<tr width = "100%">
			<td>	
				<center>
				<a href = "/alarm"><img align="left" class = "logo" src= "{% static 'img/alarm.png' %}" alt = "Logo-Alarm" height="55px"></a>
				</center>
			</td>
			<td>
				<table width="100%" align="right" border="0" id = "nav_bar_right">
					<tr>
						<td width="25%">
						</td>
						<td>
						<input type = "button" value="Home" class="nav_button active" onclick="window.location.href='/alarm'">
						</td>	
						<td>
							<input type = "button" value="Get in Touch" class="nav_button" onclick="window.location.href='/alarm'">
						</td>
						<td>
							<input type = "button" value="About" class="nav_button" onclick="window.location.href='/alarm'">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<br>
	<br>
	<br>
	{% endblock %}
	<br>
	<br>
	<div>
	<table id = "main_table" width = "90%" border="0" align = "center">
			<tr align="center">
				<td>
				<br>
				<br>
					{% block body %}
						This is an empty body template.
					{% endblock %}
				<br>
				<br>
				</td>
			</tr>
	</table>
	<br>
	<br>
	<table  class = "footer" width="100%" border="0" cellpadding="0" >
		<tr>
			<td>
				<img width="100%" height="110%" src = "{% static 'img/arrow.png' %}">
			</td>
		</tr>
		<tr>
			<td>
				{% block footer %}
					This is an empty footer template.
				{% endblock %}
			</td>
		</tr>
	</table>
	</div>	
</body>
</html>