{% extends "base.html" %}
	{% block body %}
		{% for error in errors %}
			<div class = "error modal">
				<font color="red">{{error}}</font>
			</div>
			<BR>
		{% endfor %}
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'alarm/CSS/index.css' %}">
		<script type="text/javascript">
			var json_string = unescape("{{ js_data | safe | escapejs }}");
		</script>
		<center>
		<table border="0" class="central_table" width = "100%" cellspacing= "10px" border="1">
		<tr>
		<td width="40%" class = "thought_container">
			<center>
			<div class = "thought">
				<div class = "thought_header"></div>
				<div class="thought_body" align="left">
					Nothing valuable can be lost by taking time.
				</div>
				<br>
				<div class = "author">
					- Abraham Lincoln
				</div>
			</div>
			</center>
		</td>
		<td width="50%" align="right" style = "padding-right: 20px;" rowspan="3">
			<table class="main_form" width = "95%" border="0">
				<tr>
					<th colspan = "2" style="padding-left: 20px;">
					TEST ME! SET AN ALARM  
					</th>
				</tr>
				<tr>
					<td align = "center" colspan="2" class = "current_time">
							<span class="current_time_text" border="2">
								It's now:
										<span id="now_hours"></span>:<span id="now_minutes"></span>:<span id="now_seconds"></span>
							(<span id="now_days">&nbsp;&nbsp;</span>
							<span id = "now_month"></span>)
							</span>
							 
					</td>
				</tr>
				<tr>
					<td align = "center" colspan="2">	
						<form action = "" method = "post" id = "time_form">
							{% csrf_token %}
							<div class = "prompt">
								When would you like to be up for work ?
							</div>
					</td>
				</tr>
				<tr>
							<td align = "center" width="55%" style="padding-left: 15px;">
								<input type = 'time' name = "alarm_time" value="21:00">
							</td>
							<td align = "center" >
							<input type="text" name="main_message" id = "main_message_time" style = "display: none;">
						</form>	
						<button class = "button" id = "open_modal_time">Drag me to bed!</button>
					</td>
				</tr>
				<tr>
					<td colspan="2" align = "center">
						<div class = "request">
							(Time in 24 hour format.)
						</div>
					</td>
				</tr>
				<tr>
					<td align = "center" colspan="2">
						<form action="" method = "post" id = "duration_form">{% csrf_token %}
							<div class = "prompt">
								or wanna specify a duration instead: 
							</div>
					</td> 
				</tr>
				<tr>
					<td align = "center" style="padding-left: 15px;">
						<input type="time" name="alarm_duration" value="00:15">
						<input type="text" name="main_message" id = "main_message_duration" style = "display: none;">
					</td>
					<td align = "center">	
					</form>
					<button class = "button" id = "open_modal_duration">Wake me up</button>	
					</td>
				</tr>
			</table>
		</td>
		</tr>
		<tr>
			<td width="40%" class = "thought_container">
				<center>
				<div class = "thought">
					<div class = "thought_header"></div>
					<div class="thought_body" align="left">Better three hours too soon than a minute too late.
					</div>
					<br>
					<div class="author">
						-William Shakespeare
					</div>
				</div>
				</center>
			</td>
		</tr>
		<tr>
			<td width="40%" class = "thought_container">
				<center>
				<div class = "thought">
					<div class = "thought_header"></div>
					<div class="thought_body" align="left"> We must use time wisely and forever realize that the time is always ripe to do right.  
					</div>
					<div class="author">
						-Nelson Mandela
					</div>
				</div>
				</center>
			</td>
		</tr>
		</table>
	<!-- The Modal -->
	<div id="myModal" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
		<div class="modal-header">
		  <span class="close">&times;</span>
		  <h2>Modal Header</h2>
		</div>

		<div class="modal-body">
			<label>
				Would you like to enter any message ?
			</label>
			<input type = "text" id="message" name = "message">
			<button id = "submit_main_form" class="button">SET</button>
		</div>
		
		<div class="modal-footer">
		  <h3>Modal Footer</h3>
		</div>
	  </div>
	</div>

	<script type="text/javascript" src="{% static 'alarm/JS/index.js' %}"></script>
	{% endblock %}
	{% block footer %}
		<BR> <BR><BR>
		THIS IS FOOTER!
  		<BR><BR><BR> 
	{% endblock %}

