<DOCTYPE HTML5>
<HTML>
	<HEAD>
		{% load staticfiles %}
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
		<TITLE>
			Set an Alarm
		</TITLE>
	</HEAD>
	<BODY>
		<h1>At what time should I wake you up?</h1>
		{% for error in errors %}
			<font color="red">{{error}}</font>
			<BR>
		{% endfor %}
		
		<form action = "" method = "post" >
		
			<table border="3">
            	{{ time_form.as_table }}	
        	</table>
        	{% csrf_token %}
			<input type = "submit" value = "Yep! Wake me UP!">
		</form>
		
		<form action="" method = "post">
		
			or specify the duration: 
			<table border="3">
				{{ duration_form.as_table }}
			</table>
			{% csrf_token %}
			<input type = "submit" value = "Rest that long">
		
		</form>
		
		<h3>It's now {{now}}</h3>
	</BODY>
</HTML>
