{% extends "base.html" %}
	{% block body %}
<!--
TO - DO:
========

* Pass data from django to JS by creating JSON object.

* JS shall then update time with sync frequency of a second and also matches it with 
  the alarm_time each time it is loaded.

* When we reach alarm_time, we can ring the alarm and display text_message if any.

-->
		<h1> Your alarm for {{ alarm_time }} </h1>
		<p>
			<BR>
			Hope so that I woke you up!
			It was {{now}} when you had set the alarm.
		</p>
		<p id = "datetime">
		
		</p>
		{% load staticfiles %}
		<script type="text/javascript">
			var json_string = unescape("{{ js_data | safe | escapejs }}");
		</script>
		<script type="text/javascript" src= "{% static 'alarm/JS/time_module.js' %}"></script>

		<a href = "/alarm"> Set an alarm again </a>
{% endblock %}