body{
	margin: 0;
    /*background-color: #3d3d29; /*#fff2cc*/
    background-color: white;
    margin: 0 auto;
	font-family : Helvetica;
	font-size: 19px;
    color: black;
}

.logo{

}

.header_main{
    position: fixed;
    border-bottom: 2px solid green;
    /*height: 95px;*/
}

.header_main .shrink{
    height: 40px;
}

#main_table{
    border-collapse: collapse;
	background-color: #009933;
    width: 90%;
    border-radius: 2px;
	box-shadow: 0 7px 7px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 10px;
}

.button {
    background-color: #3d3d29;
    border: none;
    border-color: #3d3d29;
    border-radius: 2px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: calc(100% - 3em - 2px);
    height: calc(100% - 2px);
}

.button:hover {
    background-color: white; /* Green */
    color: black;
    /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);*/
}

.nav_button{
    /*background-color: #ff3733;*/
    background-color: white;
    float: right;
    border: none;
    border-color: #3d3d29;
    border-radius: 2px;
    color: #009933;
    padding: 5px 5px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: calc(100% - 3em - 2px);
    height: 55px;
}

.nav_button .shrink{
    height: 39px;
}

.nav_button:hover {
    background-color: #009933;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.nav_button.active{
    border: solid 1px green;
    /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);*/
}


.nav_links{
    display: block;
    height: 5px;
}

#header_table{
    /*position: fixed;*/
    vertical-align: top;
    display: block;
    /*height: 40%;*/
}

#nav_bar_right tr{
    border-collapse: collapse;
    /*height: 70px;*/
}

.footer{
    background-color: #454545;
}