.thought{
	font-size: 16px;
	color: #ffe3e3;
	color: black;
	width: 78%;
	align-content: center;
	padding-top: 8px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 8px;
	border-left: 4px solid #351473;
	/*background-color: #3d3d29;*/
	background-color: lightgreen; /*#ff3733*/
	display: block;
	-webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}

.thought:hover{
	background-color: white;
	color: black;
	box-shadow: 0 7px 7px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.thought_container{
	padding-left: 10px;
}

.thought_header{
	font-weight: bold;
	font-size: 18px;
}

.thought_body{
	float: left;
}

.central_table{
	border-collapse: collapse;
	padding-left: 10px; 
}

.main_form{
	vertical-align: middle;
	/*background-color: #ff3733;*/
	border-collapse: collapse;
	border-left: 3px solid #3d3d29;
	right: 15px;
	top: 150px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.main_form:hover{
	/*background-color: #ff3744;*/
	/*background-color: #ff3733;*/
	/*background-color: #adff2f;*/
	background-color: #00b33c;
	box-shadow: 0 7px 7px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	width: 100%;
}

.main_form tr{
	height: 45px;
}

/*.main_form tr:hover{
	height:45px;
}
*/

input{
  border: 1px solid #ccc;	/*Border color*/
  color:  #3d3d29;	/*Color of input*/
  margin: 0.5em;
  vertical-align: middle;
  outline: 0;
  padding: 0.5em 1em;
  border-radius: 2px;
  width: calc(75% - 3em - 2px);
  font-family: sans-serif;
}


.submitter{
	align-items: right;
}

.prompt{
	text-align: center;
	
}

.current_time{
	text-align: center;
	border-left: 3px solid black;
	background-color: #ffffcc;
}

.current_time_text{
	font-size: 25px;
	font-weight: bold;
	font-family: Loopy;
	color: darkgreen;
}

.request{
	font-size: 14px;
}

.author{
	font-size: 18px;
	text-align: right;
}

/* The Modal (background) */
.my_modal {
    display: none; /* Hidden by default */
    position: fixed ; /* Stay in place */
    z-index: 1 ; /* Sit on top */
    padding-top: 100px ; /* Location of the box */
    left: 0 ;
    top: 0 ;
    width: 100% ; /* Full width */
    height: 100% ; /* Full height */
    overflow: auto ; /* Enable scroll if needed */
    background-color: rgb(0,0,0) ; /* Fallback color */
    background-color: rgba(0,0,0,0.4) ; /* Black w/ opacity */
}

/* Modal Content */
.my_modal_content {
    position: relative ;
    background-color: #fefefe ;
    margin: auto ;
    padding: 0 ;
    border: 1px solid #888 ;
    width: 80% ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) ;
    -webkit-animation-name: animatetop ;
    -webkit-animation-duration: 0.4s ;
    animation-name: animatetop ;
    animation-duration: 0.4s ;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px !important; opacity:0 !important;} 
    to {top:0 !important; opacity:1 !important;}
}

@keyframes animatetop {
    from {top:-300px !important; opacity:0 !important;}
    to {top:0 !important; opacity:1 !important;}
}

/* The Close Button */
.close {
    color: white !important;
    float: right !important;
    font-size: 28px !important;
    font-weight: bold !important;
}

.close:hover,
.close:focus {
    color: #000 !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

.my_modal_header {
    padding: 2px 16px ;
    background-color: #5cb85c ;
    color: white ;
}

.my_modal_body {padding: 2px 16px ;}

.my_modal_footer {
    padding: 2px 16px ;
    background-color: #5cb85c ;
    color: white ;
}

.copyright_message {
	color: red;
	align-items: right;
}

















